body {
    padding-top: 50px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

ul a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

ul a:hover,
ul a:focus {
    color: #eb3812;
}

.verticalLine {
    border-right: 1px solid #0c0c0c;
}

