body {
    padding-top: 50px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

.verticalLine {
    border-right: 1px solid lightgray;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.media-object {
    width: 100px;
    height: auto;
}

.btn-add-item {
    margin-bottom: 12px;
}

.img-detail {
    margin-bottom: 20px;
}
