{% extends "base.html" %}
{% block content %}
    <h1>Add New Item</h1>
    <div class="row">
        <div class="col-lg-8">
            <form enctype='multipart/form-data' action="{{ url_for('add_item') }}" method="post"
                  class="form-horizontal">
                <div class="form-group">
                    <label for="title" class="col-lg-2">Title</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="title" placeholder="Title" name="name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="photo" class="col-lg-2">Photo</label>

                    <div class="col-lg-10">
                        <div class="input-group image-preview">
                            <input type="text" class="form-control image-preview-filename" disabled="disabled">
                            <span class="input-group-btn">
                                <!-- image-preview-clear button -->
                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                </button>
                                <!-- image-preview-input -->
                                <div class="btn btn-default image-preview-input">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    <span class="image-preview-input-title">Browse</span>
                                    <input type="file" accept="image/png, image/jpeg, image/jpg" name="photo"/>
                                </div>
                            </span>
                        </div>
                        <p class="help-block">allow only png, jpg and jpeg</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-2">Description</label>

                    <div class="col-lg-10">
                    <textarea class="form-control" rows="3" placeholder="Description" name="description"
                              id="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-lg-2">Category</label>

                    <div class="col-lg-10">
                        <select class="form-control" name="category_id">
                            {% for c in categories %}
                                {% if c == category %}
                                    <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                {% else %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <!-- end form-group name -->
            </form>
        </div>
    </div>

{% endblock %}
