{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <h1>Categories</h1>
            <ul class="verticalLine">
                {% for c in categories %}
                    <li><a href="{{ url_for('show_catalog', category_id=c.id) }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9">
            <h1>8 Latest Items</h1>
            {% include "item_list.html" %}
        </div>
    </div>
{% endblock %}
